.app-main-loader {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: mainloaderanimation 1s ease infinite;
    transition: background 0.5s ease;
}


@keyframes mainloaderanimation {
	25% {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	}
	50% {
        background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #ee7752);
	}
	75% {
        background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
	}
    100% {
        background: linear-gradient(-45deg, #e73c7e,#23a6d5, #23d5ab, #ee7752);
	}
}